/* CSS RESET */
html{
  height:100%;
}
body{
  position:relative;
  height:100%;
}
/* SECTION PRODUCTS CONTENT */
.product{
  padding-bottom:10px;
}
.product a{
  height:86px;
  line-height:86px;
}
#detail{
  color:#7f7f7f;
  line-height:32px;
}
#product-one{
  padding:44px 0;
  background:#f2f2f2;
}
#product-one h3{
  color:#199ff9;
}
#product-two{
  padding-top:20px;
  padding-bottom:40px;
}
#details{
  color:#7f7f7f;
  line-height:32px;
}
#product-two h3{
  padding-top:100px;
  padding-right:100px;
  color:#199ff9;
}
.img-responsive{
  margin:auto;
}