/* CSS RESET */
.thumbnail{
  border:none;
}
.thumbnail a{
  display:block;
  border:1px solid #e9e9e9;
}
.thumbnail a:hover{
  border:1px solid blue;
}

.thumbnail h3{
  margin:0;
  font-size:14px;
  color:#525354;
}
.thumbnail p{
  font-size:12px;
}
header{
 box-shadow:10px 7px 13px #ebebeb;
 padding-bottom:1px;
}
/* COMMON CSS */
html{
  height:100%;
}
body{
  height:100%;
  overflow-x: hidden;
}
/* SECTION */
section{
  margin-top:20px;
}
/* PRODUCT CSS */
#product-select{
  background:#f5f5f5;
  padding:36px 284px;
}
#nav-tabs{
  border:none;
}
.circle{
  position:relative; 
  width: 114px; 
  height: 114px; 
  border: 1px #dbdbdb solid; 
  border-radius: 57px; 
}
.small-circle{ 
  width: 80px; 
  height: 80px;
  line-height:80px;
  text-align:center;
  position:absolute;
  top:17px;
  left:17px;
  background-color: #2c3038;
  border-radius: 40px; 
  color:#fff;
} 
.small-circle:focus{
  background-color: #107df7;
  text-decoration:none;
  color:#fff;
}
.small-circle:hover{
   background-color: #107df7;
   color:#fff;
   text-decoration:none;
}
.small-circle-active{
   background-color: #107df7;
}
.small-circle:focus{
  text-decoration:none;
}
.circle-top{
  background:#f5f5f5;
  text-align:center;
  position:absolute;
  left:33px;
  top:-12px;
  width:48px;
  color:#060405;
}
/* SPECIES */
.species{
  padding:20px 0;
}
.species-padd{
  padding:0;
}
#aside-list li:nth-child(odd){
  height:22px;
  margin:2px 0;
  border-left:1px solid #c6c7c7;
}
#aside-list li:nth-child(even){
  font-size:14px;
}
#aside-list .active{
  color:#3ebde7;
}
#aside-list span{
  margin-left:-20px;
  margin-right:5px;
}
.yudi{
  font-size:30px;
  color:#3ebde7;
  padding-left:10%;
}