/* CSS RESET */
/* SECTION PRODUCTS CONTENT */
section p::before{
  content:"";
  display:inline-block;
  width:10px;
  height:10px;
  border-radius:50%;
  background:#199ff9;
  margin-left:-8px;
  margin-right:6px;
}
.product{
  padding-bottom:10px;
}
.product a{
  height:86px;
  line-height:86px;
}
.product-show h3{
  color:#199ff9;
}
.product-show h4{
  padding-top:3px;
  color:#199ff9;
}
.product-show a{
  border:1px solid #52b6fa;
  background:#fff;
  color:#52b6fa;
  margin-top:54px;
}
.product-show p{
  color:#9e9e9e;
  line-height:36px;
}
.img-responsive{
  margin:auto;
}
#product-one .desc{
  padding:0 7.5%;
}
#product-one{
  padding:4% 0;
}
#product-two{
  background:#f7f7f7;
  padding:4% 0;
}
#product-tree{
  padding:4% 0;
}
#product-tree .desc{
  padding:0 4.5%;
}
#product-four{
  background:#f7f7f7;
  padding:4% 0;
}
#product-five{
  padding:4% 0;
}
#product-five .desc{
  padding:0 2.5%;
}
#product-six{
  background:#f7f7f7;
  padding:4% 0;
}
#product-seven{
  padding:4% 0;
}
.pic{
  padding:6%;
}
/* animation */
#dot{
  position:absolute;
  background:rgba(25,159,249,0.7);
  width:16px;height:16px;
  border-radius:50%;
  box-shadow:0px 0px 13px #199ff9;
  /*animation: dot 3s ease-in 1s infinite;*/
  animation:dot 0.8s ease-in 1s infinite;
  top:46%;
  left:48%;
}
#dot-two{
  position:absolute;
  background:rgba(25,159,249,0.7);
  width:16px;height:16px;
  border-radius:50%;
  box-shadow:0px 0px 13px #199ff9;
  /*animation: dot 3s ease-in 1s infinite;*/
  animation:dot 0.8s ease-in 1s infinite;
  top:56%;
  left:64%;
}
@keyframes dot{
  0%{
      box-shadow:0px 0px 13px #199ff9;
  }
  to{
    box-shadow:0px 0px 103px #199ff9;  
  }
}
.pic{
  position:relative;
}
/* A-Border-radius */
.product-show a:hover{
  background:#fff;
  border:1px solid #199ff9;
  color:#199ff9;
  animation:aradius 0.4s linear 0s 1 forwards;
}
@keyframes aradius{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
    border-radius:20px;
  }
}
#location{
  color:#ff4040;
  font-size:32px;
  position:absolute;
  left:30%;
  top:62%;
  animation:location 1.2s linear 0s  infinite;
}
@keyframes location{
  0%{
    top:62%;
  }
  50%{
    top:65%;
  }
   100%{
    top:62%;
  }
}