html{
  height:100%;
}
body{
  position:relative;
  height:100%;
}
.shadow:hover{
  -moz-box-shadow:0px 0px 20px #999; 
  box-shadow:0px 0px 20px #999;
}
#section dt{
  height:64px;
  line-height:64px;
  font-size:16px;
  color:#338fff;
}
#section dd{
  line-height:34px;
  color:#7f7f7f;
}
#section h3{
  color:#003b7d;
}
#section .row{
  padding-top:60px;
  padding-bottom:50px;
  border-bottom:1px dashed #cbcbcb;
}