html{
  height:100%;
}
body{
  position:relative;
  height:100%;
}
#section dd{
  line-height:34px;
  color:#7f7f7f;
}
#section h3{
  color:#003b7d;
}
#section .row{
  padding-top:60px;
  padding-bottom:90px;
  border-bottom:1px dashed #cbcbcb;
}
.img-responsive{
  margin:0 auto;
}